
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-location-inv:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */